*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Josefin Slab', serif;
}
body{
    background-image: linear-gradient(to bottom,#66339977 60%, 	#9470db88 70%), url("../images/img-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.page_container{
    position: relative;
}
.user_form_container{
    position: absolute;
    top: 30rem;
    left: 50%;
}
form > .select-bg{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 2em;
    font-weight: 800;
    color: black;
}
.form > .select-bg :focus{
    border: none;
}
.btn-primary {
    width: 100%;
    background-color: transparent;
}