*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Josefin Slab', serif;
}
body{
    background-image: linear-gradient(to bottom,#420085be 60%, 	#2e008bbe 70%), url("../images/img-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.page_container{
    position: relative;
}
.user_form_container{
    position: absolute;
    top: 30rem;
    left: 45%;
}
form > .select-bg{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 2em;
    font-weight: 600;
    color: #ffffff;
    width: 100%;
}
.form > .select-bg :focus{
    border: none;
}
.col-auto > .btn{
    font-size: 2em;
    border: none;
    outline: none;
    box-shadow: .1em .1em .2em .4em rgba(0, 0, 0, 0.116);
    border-radius: .2em;
    font-weight: 400;
}
.col-auto > .btn-primary {
    width: 100%;
    background-color: transparent;
    color: #ffffff;
}
select > .opt-bg{
    background-color:#570eeb93;
    border: none;
}